# compiled output
/build
/public

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependency directories
node_modules/

# System Files
.DS_Store

# Optional npm cache directory
.npm

# dotenv environment variables file
.env